<header class="navbar navbar-fixed-top navbar-inverse" id="homebar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to "Penn For Youth Debate", root_path, id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path, id: "headerlist" %></li>
        <!-- <li><%= link_to "Partners", partners_path, id: "headerlist" %></li> -->
        <li><%= link_to "Leadership", leadership_path, id: "headerlist" %></li>
<!--         <li><%= link_to "Online Curriculum", oc_path, id: "headerlist" %></li>
        <li><%= link_to "Gallery", gallery_path, id: "headerlist" %></li>
        <li><%= link_to "FAQ", faq_path, id: "headerlist" %></li> -->
        <li><%= link_to "Join Us", join_path, id: "headerlist" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>

<div class="container special">
  <div class="jumbotron" id='hometop'>
    <div class="container-fluid">
      <h1>Helping Students</h1>
      <h1>Through Debate</h1>
      <p><%= link_to "Join Us", join_path, id: "join_us_home" %></p>
    </div>
  </div>
</div>
<!--
<div class="about">
  <div class="container">
    <h5>WHO WE ARE</h5>
    <h2>Penn Enactus</h2>
    <p>is a leading social entrepreneurship hub at the University of 
    Pennsylvania. Spanning across all four undergraduate schools, our 
    members learn the process of social entrepreneurship from the ground 
    up and have the opportunity to immerse themselves in making an impact 
    within the Philadelphia community. We are a chapter of <a href="http://enactus.org">
    Enactus Worldwide</a>.</p>
    <h5>PROJECT GROUPS</h5>
    <p>Members of Enactus work in project groups that advance small business ideas and work torwards creating sustainble ideas that give back to the community. Members will have the option of joining an existing
    project group or founding their own project. Projects allow members to help others while also gaining
    entrepreneurial and business skills first hand.</p>
    <h5><%= link_to "JOIN", '/join' %></h5>
    <p>Penn Enactus is recruiting for the Spring 2016 semester. Potential applicants
    from any of the four schools are encouraged to apply. </p>
  </div>
</div>
-->
<!-- 
<div class="about">
  <div class="container">
    <p>Penn Enactus is now accepting applications for the Fall 2015 Semester.
    We are looking for motivated individuals who have a strong desire to use their 
    skills to help others.</p>
    <div class="recruit">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <h2 id="contact"><%= link_to "contact", '#' %></h2>
        </div>
        <div class="col-md-3">
          <h2 id="apply"><%= link_to "apply", '#' %></h2>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div> -->