<%= render 'layouts/header' %>

<div class="jumbotron" id="team">
  <div class="container-fluid">
    <p>THE TEAM</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>THE TEAM</h5>
    <p>We are students drawing from a range of backgrounds with a common interest
    in promoting progress throughout the community. Our executive board works
    to shape the day to day and long term vision of our organization.</p>
  </div>
</div>

<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/evan.jpg", :alt => "", height: 300, width: 300) %>
        <h4>EVAN HUANG</h4>
        <h5>President</h5>
        <p>Evan is a junior at Penn working towards a bachelors 
        and masters in Systems Engineering. He is currently focusing his studies and 
        research on stochastic systems, particularly those that have to do with sports, 
        and is working as a portfolio coordinator for Keurig Green Mountain. When he's 
        not doing work, Evan enjoys playing basketball, playing alto sax, and reading 
        news articles.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/steph.jpg", :alt => "", height: 300, width: 300) %>
        <h4>STEPHANIE LEE</h4>
        <h5>VP of Marketing</h5>
        <p>Stephanie's been with Enactus since her first semester at 
        Penn and previously was previously staffed on the G.I. Mosaics team. Having grown 
        up living in five countries, she loves meeting and working with people from around 
        the world. In her free time, Stephanie enjoys singing, trying tasting menus at tapas 
        restaurants, and watching Suits.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/brian.jpg", :alt => "", height: 300, width: 300) %>
        <h4>BRIAN KWOK</h4>
        <h5>VP of Sales</h5>
        <p>Brian joined Enactus in his first semester as an undergrad 
        at Wharton. Now a junior, Brian has had the privilege 
        of working with a variety of innovative businesses to improve their sales and to 
        reach their sales goals. Apart from school and Enactus, Brian spends his time improvising 
        on the piano and wondering how to quit Netflix.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/gi.jpg", :alt => "", height: 300, width: 300) %>
        <h4>GI YUN LEE</h4>
        <h5>VP of Operations</h5>
        <p>Gi Yun joined Enactus as a sophomore and directed Project IvyTalk in the following year. 
        Now a senior studying Bioengineering and Management, he is looking forward to helping old 
        and new projects make a social impact. Outside of Enactus, Gi Yun conducts research in liver 
        diseases and volunteers at Penn Wissahickon hospice.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/andy.jpg", :alt => "", height: 300, width: 300) %>
        <h4>ANDREW WANG</h4>
        <h5>VP of Technology</h5>
        <p>Andrew is a sophomore at Penn studying Computer Science. He is also planning to pursue a 
        second major in Economics. Outside of Enactus, Andrew spends time each week coaching debate at the Academy At Palumbo, a local high school.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/tina.jpg", :alt => "", height: 300, width: 300) %>
        <h4>TINA HUANG</h4>
        <h5>VP of Finance</h5>
        <p>Tina is a sophomore in Penn's Life Sciences 
        and Management program studying Finance, Health Care Management, 
        and Biological Basis of Behavior. In her spare 
        time, Tina enjoys figure skating, playing the piano, and social entrepreneurship.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/keith.jpg", :alt => "", height: 300, width: 300) %>
        <h4>KEITH WEIGELT</h4>
        <h5>Advisor</h5>
        <p>Professor Keith Weigelt is the Marks-Darivoff Family Professor of Strategy
        at the University of Pennsylvania's Wharton School. His program Buiding Bridges to Wealth helps
        members of the local community learn money management and entrepreneurial skills. Dr. Weigelt holds 
        an M.B.A. from Michigan State University and a Ph.D. from the Kellogg Graduate School at Northwestern.
        </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>


<%= render 'layouts/footer' %>

