<%= render 'layouts/header' %>

<div class="jumbotron" id="team">
  <div class="container-fluid">
    <p>LEADERSHIP</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>OUR BOARD</h5>
    <p>Our executive board consists of Penn students from a wide variety of backgrounds. The members of the board have a 
    diverse set of interersts, but all share a passion for helping kids through debate.</p>
  </div>
</div>

<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/allyson.png", :alt => "", height: 300, width: 300) %>
        <h4>ALLYSON BELL</h4>
        <h5>President</h5>
        <p>Allyson Bell is a junior in the College of Arts and Sciences and is planning on majoring in Health and Societies. Allyson was the debate captain at Wharton High School in Tampa, Florida. She was the forensics league state qualifier, and the NFL and CFL nationals qualifier in public forum. She also enjoys being in a sorority and club swimming. She feels PFYD has been a great way to stay involved with debate beyond high school. It is rewarding for her to see the students she works with be successful and enjoy debating.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/steph.jpg", :alt => "", height: 300, width: 300) %>
        <h4>RAJAN SHETH</h4>
        <h5>Vice President</h5>
        <p>Rajan Sheth is junior in Wharton studying finance and management. Hailing from the state of Arizona, Rajan is excited to finally live in a place with seasons and discover the mythical concepts of “snow” and “winter.” Beyond PYFD, Rajan is a research assistant with the Management Department and is involved with the Wharton Undergraduate Research board. In his spare time, he enjoys eating, stand-up comedy, bad television shows, and really bad television shows (e.g. the Bachelor).</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/brian.jpg", :alt => "", height: 300, width: 300) %>
        <h4>ALICE YU</h4>
        <h5>Vice President</h5>
        <p>Alice is a sophomore in the College of Arts and Sciences and is planning on majoring in Biology. She competed nationally in policy debate for four years in high school for the University of Chicago Laboratory High School, and earned a bid to the Tournament of Champions. In her junior year, she was ranked as one of the top 40 partnerships in the country and, in her senior year, she served as a captain for her team. She enjoys PFYD because it gives her the opportunity to coach the next generation of debaters, and to foster their confidence in their public speaking and critical thinking skills.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/ed.jpg", :alt => "", height: 300, width: 300) %>
        <h4>ED JING</h4>
        <h5>Liberty Bell Classic Director</h5>
        <p>Ed Jing is a sophomore in the College of Arts and Sciences planning on majoring in biology. In addition to PFYD, he is a member of FIMRC and a volunteer at HUP. He was captain of the Unionville High School Speech and Debate Team for two years and participated in Lincoln-Douglas and Public Forum Debate. He decided to join PFYD to continue his involvement in the forensics community and greatly enjoys coaching and mentoring students in the Philadelphia school district. </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/andreww.jpg", :alt => "", height: 300, width: 300) %>
        <h4>ANDREW WANG</h4>
        <h5>Treasurer</h5>
        <p>Andrew is a sophomore studying computer science in the Engineering School and Finance in Wharton. His first experience with Public Forum came from volunteering with Palumbo Academy last year, where he grew to love the format. Andrew’s favorite aspect of volunteering is watching the students’ critical thinking skills grow over time. Outside of PFYD, he is a part of Penn Enactus and Penn Science Across Ages. Andrew is excited to serve as treasurer for PFYD!</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/hope.jpg", :alt => "", height: 300, width: 300) %>
        <h4>HOPE MERENS</h4>
        <h5>Trainings Director</h5>
        <p>Hope Merens is a sophomore studying biochemistry, philosophy, and neurobiology in the College of Arts and Sciences. She debated for four years at Nicolet High School, serving as president of her team her senior year. With two years of policy experience and two years of public forum debate experience, Hope won a speaker award at the 2011 National Urban Debate League Tournament and placed second in the 2013 National Economic Debates. In PFYD, Hope has loved working with Philadelphia high school students on their analytical and critical thinking skills and hopes debate can impact these students as much as it has impacted her. She is honored to be serving as this year’s PFYD training director, and has served in the past as PFYD secretary. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/gi.jpg", :alt => "", height: 300, width: 300) %>
        <h4>ANDREW GEIGOS</h4>
        <h5>Secretary</h5>
        <p></p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/sophie.jpg", :alt => "", height: 300, width: 300) %>
        <h4>SOPHIE KRUGER</h4>
        <h5>Public Relations Director</h5>
        <p>Sophie is a sophomore in the Wharton School studying Business, Economics, and Public Policy and Management.  She competed in both Parliamentary and Oregon Cross-examination debate for four years at Kingswood Oxford in West Hartford, CT where she was the president during her senior year and competed on local, national, and international stages.  Sophie also coaches debate at the Westfield Academy of Debate and Public Speaking during the summer where she has seen the strong positive impact of debate on kids of all ages.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/pranav.jpg", :alt => "", height: 300, width: 300) %>
        <h4>PRANAV REDDY</h4>
        <h5>Junior Liberty Bell Classic Director</h5>
        <p>Pranav Reddy is a freshman in the College of Arts and Sciences studying Computer Science and Biochemistry. He debated for The Harker School in San Jose, CA and was a captain since his sophomore year of high school. Pranav competed in elimination rounds at many tournaments including championing the Tournament of Champions and the National Debate Coaches Association tournament twice. He also has experience coaching with Debate.LA and most recently with local Philadelphia high school students. He is looking forward to helping run the 2016 Liberty Bell Classic as Junior LBC Director.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/dakota.jpg", :alt => "", height: 300, width: 300) %>
        <h4>DAKOTA JONES</h4>
        <h5>Spring Tournament Director</h5>
        <p>Dakota Jones is a freshman in the College that is planning on majoring in Philosophy, Politics, and Economics (PPE). He debated for three years at South Anchorage High School in Anchorage, AK as a Lincoln-Douglas debater. Dakota advanced to elimination rounds of the Alaska State Championships during all three years of his debate career and also qualified for NCFL Nationals twice. He enjoys PFYD because he thinks that it is a great way to stay connected to the debate world after high school and because he enjoys coaching the next generation of debaters.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/rebecca.png", :alt => "", height: 300, width: 300) %>
        <h4>REBECCA GELFER</h4>
        <h5>Round Robin Director</h5>
        <p>Rebecca Gelfer is a freshman studying biochemistry in the Vagelos Molecular Life Sciences program at Penn. She debated for four years has  locally, regionally, and nationally for Clements High School in Houston, Texas, where she was captain her senior year. She has won multiple local tournaments, won second place at the Texas Forensic Association State meet, and finished in octafinals of the Tournament of Champions her senior year. She both coaches debate and has experience as a debate instructor for multiple summer camps. She enjoys volunteering with PFYD and spreading the positive impact debate can have on other communities! </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/heba.png", :alt => "", height: 300, width: 300) %>
        <h4>HEBA ARSHAD</h4>
        <h5>Voices of Philadephia Tournament Director</h5>
        <p>Heba H. Arshad is a sophomore in the Life Sciences & Management program studying BIBB and finance. She competed on her high school's policy debate team for 4 years, serving as captain her senior year. After realizing how much of a positive impact debate had made in her life, she founded and coached the Tenakill Middle School debate team. She is looking forward to serving as the Voices of Philadelphia Tournament Director this year. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/caroline.jpeg", :alt => "", height: 300, width: 300) %>
        <h4>CAROLINE WALLACE</h4>
        <h5>Curriculum Director</h5>
        <p>Caroline Wallace is a junior in the College of Arts and Sciences studying International Relations and Modern Middle Eastern Studies. She competed for four years in Congressional Debate and Public Forum at St. Petersburg High School and served as Captain during her junior and senior years. Caroline qualified and competed at the Tournament of Champions twice, advancing to Finals in Congressional Debate during her senior year. Through volunteering with PFYD for the past two years, she has enjoyed continuing her involvement in the debate community and fostering communication skills and confidence in her students. She is excited to be PFYD’s Curriculum Director this year.
        </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>


<%= render 'layouts/footer' %>

